<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a URL with NLP</title>
    </head>

    <body>

        <header>
            <div class="image">
                <img src="Rb7e9f33356fbd07881efd7be4f04b5e0.jpg" alt="NLP">
            </div>

        </header>

        <main>
        <div class="title">
            Evaluate a URL with NLP
        </div>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Please enter a URL only">
                    <input type="SUBMIT" name="SUBMIT" value="SUBMIT" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <div id="results"><strong>Form Results:</strong></div><br>
                <div id="score_tag" class = "head"></div><br>
                <div id="confidence" class = "head"></div><br>
                <div id="agreement" class = "head"></div><br>
                <div id="irony" class = "head"></div><br>
                <div id="subjectivity" class = "head"></div><br>
                
            </section>
        </main>

        <footer>
            <p>This site was made by "Christine Hanna"</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performance
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
